<div class="message-body">
    <div class="box">
        {{message}}
        {{message recived=true}}
        {{message recived=false}}
        {{message recived=false}}
        {{message recived=true}}
        {{message recived=true}}
        {{message recived=true}}
        {{message recived=false}}
        {{message recived=false}}
        {{message recived=true}}
        {{message recived=true}}
        {{message recived=true}}
        {{message recived=false}}
        {{message recived=false}}
        {{message recived=true}}
        {{message recived=true}}
    </div>
</div>

{{input class="message-input"}}